<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PianoNote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>168D198320632949005AA85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>168D19972063294A005AA85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>168D19A22063294A005AA85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D41E18207C34850098DBCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
